# ========================
# Dependencies
# ========================
node_modules/

# ========================
# Environment Variables
# ========================
.env
.env.local
.env.development
.env.staging
.env.production
.env.test
.env*.local

# ========================
# Expo
# ========================
.expo/
dist/
web-build/
expo-env.d.ts

# ========================
# Native builds
# ========================
/android
/ios
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# ========================
# Metro
# ========================
.metro-health-check*

# ========================
# Logs
# ========================
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# ========================
# OS
# ========================
.DS_Store
.DS_Store?
Thumbs.db
*.pem

# ========================
# IDE / Editor
# ========================
.vscode/
.idea/

# ========================
# TypeScript
# ========================
*.tsbuildinfo
